/* This is the Main Style File */

@font-face {
  font-family: bold;
  src: url('/font/bold.ttf');
}

@font-face {
  font-family: regular;
  src: url('/font/regular.ttf');
}

@font-face {
  font-family: italic;
  src: url('/font/italic.ttf');
}

@font-face {
  font-family: light;
  src: url('/font/light.ttf');
}

@font-face {
  font-family: bold-italic;
  src: url('/font/bolditalic.ttf');
}

@font-face {
  font-family: extra-light;
  src: url('/font/extralight.ttf');
}

@font-face {
  font-family: semi-bold;
  src: url('/font/semibold.ttf');
}

@font-face {
  font-family: black;
  src: url('/font/black.ttf');
}

@font-face {
  font-family: black-italic;
  src: url('/font/blackitalic.ttf');
}

@font-face {
  font-family: extra-light-italic;
  src: url('/font/extralightitalic.ttf');
}

html {
  margin: 0px;
  
}

body {
  margin: 0px;
  font-family: regular;
}

header {
  background-color: #eee;
  padding: 0px 0px 5px 0px;
  border-bottom: 5px solid #333;
}

header #menu {
  background-color: black;
  color: white;
  font-family: light;
  margin: 0px;
  width: 25%;
  float: right;
  padding: 5px;
  border-left: 5px solid #73000a;
  background-image: url('/img/chevron-bottom.svg');
  background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: center right;
}

header #menu p {
  margin: 0px;
  margin-left: 2em;
  text-align: center;
}

header #menu .avatar {
  max-width: 1em;
  margin: auto;
  float: left;
}

header #logo {
  background-image: url('/img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  margin: auto;
}

header #nav {
  overflow: hidden;
  font-family: bold;
  margin: 5px auto;
  width: 80%;
}

header #nav ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

header #nav ul li {
  display: block;
  margin: 0px 5px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

header #nav ul li a {
  /*background-color: #ff000088;*/
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 7.5px;
  border-radius: 5px;
}

header #nav ul li a.selected {
  background-color: #aa3333;
  color: white;
}

header #nav ul li a:hover {
  text-decoration: none;
  background-color: #ccc;
  color: black;
}


header #search {
  margin: auto;
  width: 80%;
  overflow: hidden;
}

header #search form {
  width: 100%;
  margin: 0px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

header #search form input {
  background-color: #fff;
  border-radius: 5px;
  color: black;
  padding: 5px;
  font-family: light;
  border: 1px solid black;
  margin: 0px;
  
}

header #search form input[type="text"] {
  width: 85%;
  height: 100%;
  margin: 0px 5px 0px 0px;
}

header #search form input[type="text"]:hover {
  border: 1px solid #333;
  box-shadow: inset 0px 0px 5px #333;
}

header #search form input[type="submit"] {
  width: 10%;
  background-color: #eee;
  font-family: bold;
  border: 3px solid black;
}

header #search form input[type="submit"]:hover {
  background-color: #fff;
  box-shadow: inset 0px 0px 5px #333;
  
}